fil9_bigram
/bigram_wiki/
/wiki/
/1_wiki+turk_cosine/
1_bigram_cosine/
1_bigram_output/
1_joint/
1_joint_bigram/
1_turk+wiki_cosine/
1_turk+wiki_output/
1_turk_cosine/
1_turk_output/
1_wiki+turk_output/
1turk+wiki_cosine/
2_bigram_cosine/
2_bigram_output/
2_joint/
2_joint_bigram/
2_turk+wiki_cosine/
2_turk+wiki_output/
2_turk_cosine/
2_turk_output/
2_wiki+turk_cosine/
2_wiki+turk_output/
/annotations/*
!/annotations/clean_annotations.csv
!/annotations/clean_annotations.py